PORT = 4000
MONGO_DB = mongodb://service-db/

COOKIE_SECRET = XXXXXXXXXXXXXXXXXXXXXXXXXXXXXX

REFRESH_TOKEN_SECRET = XXXXXXXXXXXXXXXXXXXXXXXXXXXXXX
REFRESH_TOKEN_EXPIRY = 60 * 60 * 24 * 30

WHITELISTED_DOMAINS = http://localhost:3000

SESSION_EXPIRY = 60 * 15